[Desktop Entry]
Type=Application
Version=1.0
Name=Gnash
GenericName=Gnash
Comment=GNU Gnash is the GNU Flash movie player
Icon=${SNAP}/usr/share/pixmaps/gnash.xpm
Exec=gnash
Categories=Development;Multimedia;
